.details-card {
  color: var(--color-text-primary);
}

.details-card h1 {
  font-size: 1.5rem;
}

.details-card__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: min(100%, 750px);
}

@media screen and (min-width: 300px) {
  .details-card__container {
    flex-direction: row;
  }
}

.details-card__image-container {
  height: 200px;
  width: 100%;
}

@media screen and (min-width: 300px) {
  .details-card__image-container {
    width: 55%;
  }
}

.details-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details-card__info-container {
  padding: 10px;
}

.details-card__name {
  font-size: 1.25rem;
}