.theme-toggle__container {
  padding: 5px;
}

.theme-toggle__input {
  border-radius: 50%;
  color: var(--color-icon-theme);
  padding: 10px;
  transition: background-color linear 150ms;
  width: max-content;
}

.theme-toggle__input:focus {
  outline: 1px dotted var(--color-border-focus);
}

.theme-toggle__input:hover {
  background-color: var(--color-bg-toggle);
  cursor: pointer;
}

.theme-toggle__icon {
  --base-size: 1.5rem;
  height: var(--base-size);
  width: var(--base-size);
}