.theme-toggle__container {
  padding: 5px;
}

.theme-toggle__input {
  border-radius: 50%;
  padding: 10px;
  transition: background-color linear 150ms;
  width: max-content;
}

.theme-toggle__input:focus {
  outline: 2px dotted black;
}

.theme-toggle__input:hover {
  background-color: gray;
  cursor: pointer;
}

.theme-toggle__icon {
  --base-size: 1.5rem;
  height: var(--base-size);
  width: var(--base-size);
}